nav{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
body{
    background-color: forestgreen;
    color: blue;
}
p{
    color: yellow;
}
footer{
    text-align: center;
    margin-right: 200px;
}
header{
    text-align: center;
}
table, th, td{
    border: 1px solid yellow;
    color:cyan;
}